
    <div class="jumbotron">
      <h3>Color Lab DB</h3>
      <div>
        <div id="noColor"></div>
        <div class="tableDiv"></div>
        <table id="colorsTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                <th scope="col">S/No</th>
                <th scope="col" style="text-align: center">Color Name</th>
                <th scope="col" style="text-align: center">Category</th>
                <th scope="col" style="text-align: center">Type</th>
                <th scope="col" style="text-align: center">Hex</th>
                <th scope="col" style="text-align: center">Options</th>
                </tr>
            </thead>
            <tbody class="colorsTableBody">
                {{!-- {{#each color}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td><a href="/colors/{{dataValues.id}}">{{this.colorName}}</a></td>
                    <td>{{this.category}}</td>
                    <td>{{this.colorType}}</td>
                    <td style="background-color: {{this.hex}}">{{this.hex}}</td>
                    <td>
						<a href="/colors/{{dataValues.id}}/update" class="btn btn-warning btn-sm">Edit</a>
						<a href="/colors/{{dataValues.id}}/delete" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this Color?')">Delete</a>
                    </td>
                </tr>
                {{/each}} --}}
            </tbody>
        </table>
      </div>
    </div>