 <div class="chartsDiv jumbotron">
      <h3>Color Lab DB</h3>
      <div>
        <div id="noColor"></div>
        <div class="tableDiv"></div>
            <div class="row">
                <label class="col-lg-auto">Color Name:</label>
                <span class="col-lg-auto">{{colorName}}</span>
            </div>
            <div class="row">
                <label class="col-lg-auto col-sm-12 text-left">Color Type:</label>
                <span class="col-lg-auto col-sm-12">{{colorType}}</span>
            </div>
            <div class="row">
                <label class="col-lg-auto col-sm-12 text-left">Category:</label>
                <span class="col-lg-auto col-sm-12">{{category}}</span>
            </div>
            <div class="row">
                <label class="col-lg-auto col-sm-12 text-left">Hex:</label>
                <span class="col-lg-auto col-sm-12">{{hex}}</span>
            </div>
            <div class="row ml-1">
                <a href="/colors/{{id}}/update" class="col btn btn-sm mr-2" style="background-color: {{{hex}}}; color: white">Edit</a>
                <a href="/colors/{{id}}/delete" class="col btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this Color?')">Delete</a>
            </div>
      </div>
    </div>